*.pth
covid19/datasets/
covid19/reproduce-chexnet/
covid19/pytorch/aug_off_80_20/models/
covid19/**/*.pth
covid19/pytorch/**/*.pth
covid19/pytorch/aug_off_80_20/models/*
covid19/pytorch/aug_off_80_20/models/*.*
covid19/pytorch/aug_off_80_20/runs
covid19/pytorch/aug_off_80_20/runs/*
